<div class="app-container">
  <app-menu></app-menu>

  <main class="main-container">
    <app-header></app-header>

    <div>
      <!-- <apx-chart [series]="series" [chart]="chart" [title]="title"></apx-chart> -->
    </div>

    <!-- <div class="cards-container">
      <app-mini-card></app-mini-card>
      <app-mini-card></app-mini-card>
      <app-mini-card></app-mini-card>
      <app-mini-card></app-mini-card>
    </div>

    <div class="top-grafico-container">
      <app-top-grafico></app-top-grafico>
    </div> -->

    <!-- <div class="container-big-card">
      <app-big-card></app-big-card>
      <app-big-card></app-big-card>
      <app-big-card></app-big-card>
      <app-big-card></app-big-card>
    </div> -->
  </main>
</div>
